.BoroughSelector {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: 2; */
    border: 1px dotted blueviolet;
    grid-column: 1 / 6;
    grid-row: 2 / span 1;
}