.ReviewsList {
    position: relative;
}

.reviews-container, .notable-reviews-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

.reviews-container {
    position: relative;
    overflow-y: hidden;
}

#review-cards {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
}
#opacity-mask {
    position: absolute;
    min-height: 300px;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, .5) 5%, rgba(255, 255, 255, 1) 40%);
    z-index: 2;
}