.App {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px auto 40px;
  grid-gap: 3px;
  grid-template-areas: 
    "h h h h h h h h h h h h h" /*12-column header*/
    "s s c c c c c c c c c c c" /*2-column sidebar, 10-column content*/
    "f f f f f f f f f f f f f" /*12-column footer*/; 
}